<!DOCTYPE html>
<html lang="en">
<head>

    <title>Digital Trend HTML Template</title>
    <!--

    DIGITAL TREND

    https://templatemo.com/tm-538-digital-trend

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicon icon -->
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="~/favicon/LogoFavicon.png" />


    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="~/css/templatemo-digital-trend.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/templatemo-digital-trend.css">

</head>
<body>



    <!-- HERO -->
    <section class="hero hero-bg d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                    <div class="hero-text">

                        <h1 class="text-white" data-aos="fade-up">Bug Tracking System</h1>

                        <a asp-area="Identity" asp-page="/Account/Login" class="btn waves-effect waves-light btn-rounded btn-info text-white mt-3" data-aos="fade-up" data-aos-delay="100">Login</a>

                    </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                        <img src="images/Bug fixing-pana.png" class="img-fluid" alt="working girl">
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- ABOUT -->
    <section class="about section-padding pb-0" id="about">
        <div class="container">
            <div class="row">

                <div class="col-lg-7 mx-auto col-md-10 col-12">
                    <div class="about-info">

                        <h2 class="mb-4" data-aos="fade-up">the best <strong>Bug Tracker</strong> in United Stated</h2>

                        <p class="mb-0" data-aos="fade-up">
                            In the vast universe of software development, bugs are inevitable. Like stars in the night sky, they can appear anytime and anywhere. This is where a Bug Tracker comes into play. <a href="blog.html">blog</a> pages, <a href="project-detail.html">project</a> page, and <a href="contact.html">contact</a> page.
                            <br><br>When a bug is <strong>discovered</strong> it is logged into the Bug Tracker. This log includes details such as a description of the bug, where and when it occurs, and any other relevant details. This log is referred to as a ‘ticket’.
                        </p>
                    </div>

                    <div class="about-image" data-aos="fade-up" data-aos-delay="200">

                        <img src="images/Data extraction-cuate.png" class="img-fluid" alt="office">
                    </div>
                </div>

            </div>
        </div>
    </section>



    <!-- SCRIPTS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>

</body>
</html>