<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   <!-- Keywords for SEO -->
<meta name="keywords"
      content="bug tracking system, issue tracking system" />

<!-- Description for SEO -->
<meta name="description"
      content="Bug Tracking System is a powerful issue tracking bugs." />

<!-- Instruct search engines not to index this page -->
<meta name="robots" content="noindex,nofollow" />

<!-- Page Title -->
<title>Bug Tracking System</title>

<!-- Canonical link -->
<link rel="canonical"
      href="https://bugtrackingsystem.up.railway.app/" />

    <!-- Favicon icon -->
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="~/favicon/LogoFavicon.png" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/dist/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css">
    <link href="~/landingpage/dist/css/style.min.css" rel="stylesheet" />
    <link href="~/dist/css/icons/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>
    <!-- ============================================================== -->
    <!-- Main wrapper -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Header part -->
        <!-- ============================================================== -->
        <header class="topbar">
            <div class="container">
                <!-- Start Header -->
                <div class="header p-t-20">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <img src="~/images/BTSLogoNew.png" alt="logo" style="width: 70px; height: 70px;" />

                        </a>
                        <button class="navbar-toggler"
                                type="button"
                                data-toggle="collapse"
                                data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto">

                                <li class="nav-item p-l-15">
                                    <a asp-area="Identity" asp-page="/Account/Login"
                                       class="btn btn-custom btn-outline-info"
                                       target="_blank">
                                        Try Out
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="row header-banner align-items-center">
                        <div class="col-lg-5">
                            <h1>
                                Handle Your Projects and Tickets Using the
                                <span class="text-info"> Bug Tracking System </span>
                            </h1>
                            @* <p class="m-t-40">
                                  <span class="font-bold text-dark"
                                    >6+ Dashboard Variations,</span
                                  >
                                  800+ Page Templates, Unlimited Color Schemes,
                                  <span class="font-bold text-dark">7+ Unique Demos,</span> 500+
                                  UI Elements, 70+ Integrated Plugins & more...
                                </p> *@
                            <a asp-area="Identity" asp-page="/Account/Login"
                               class="btn btn-custom-md btn-info m-t-40 m-b-40 dm-btn">
                                Try Our Demos
                            </a>
                        </div>
                        <div class="col-lg-6 offset-lg-1 text-right">
                            <img class="img-shadow img-fluid"
                                 src="~/landingpage/img/Dashboard.png"
                                 alt="db" />
                        </div>
                    </div>
                </div>
                <!-- End Header -->
            </div>
        </header>
        <!-- ============================================================== -->
        <!-- Header part -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper part -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Demos part -->
            <!-- ============================================================== -->
            <section id="demos" class="demos spacer">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-7 text-center">
                            <h1>Exploring the World of Bug Tracking System</h1>

                            <p class="m-t-20">
                                Bugs are inevitable in software development. A Bug Tracker is essential for logging discovered bugs,
                                capturing key details, and managing them as 'tickets'.
                            </p>

                        </div>
                        <div class="col-md-6 m-t-40">
                            <div class="live-box bg-light text-center p-t-30 p-b-0">
                                <img class="shadow img-fluid"
                                     src="~/landingpage/img/Dashboard2.png"
                                     alt="d4" style="width: 620px; height: 350px; object-fit: cover;" />

                            </div>
                            <div class="m-l-30 m-t-30 ">
                                <span class="font-12 font-bold text-uppercase">Home</span>
                                <h3>Dashboard</h3>
                            </div>
                        </div>
                        <div class="col-md-6 m-t-40">
                            <div class="live-box bg-light text-center p-t-30 p-b-0">
                                <img class="shadow img-fluid"
                                     src="~/landingpage/img/NewProject.png"
                                     alt="d4" style="width: 620px; height: 350px; object-fit: cover;" />

                            </div>
                            <div class="m-l-30 m-t-30">
                                <span class="font-12 font-bold text-uppercase">Project</span>
                                <h3>Create Project</h3>
                            </div>
                        </div>
                        <div class="col-md-6 m-t-40">
                            <div class="live-box bg-light text-center p-t-30 p-b-0">
                                <img class="shadow img-fluid"
                                     src="~/landingpage/img/ProjectDetail.png"
                                     alt="d4" style="width: 620px; height: 350px; object-fit: cover;" />

                            </div>
                            <div class="m-l-30 m-t-30">
                                <span class="font-12 font-bold text-uppercase">Project</span>
                                <h3>Project Details</h3>
                            </div>
                        </div>

                        <div class="col-md-6 m-t-40">
                            <div class="live-box bg-light text-center p-t-30 p-b-0">
                                <img class="shadow img-fluid"
                                     src="~/landingpage/img/TicketIndex.png"
                                     alt="d4" style="width: 620px; height: 350px; object-fit: cover;" />

                            </div>
                            <div class="m-l-30 m-t-30">
                                <span class="font-12 font-bold text-uppercase">Ticket</span>
                                <h3>Quickly Navigate Tickets</h3>
                            </div>
                        </div>

                        <div class="col-md-6 m-t-40">
                            <div class="live-box bg-light text-center p-t-30 p-b-0">
                                <img class="shadow img-fluid"
                                     src="~/landingpage/img/TicketDetail.png"
                                     alt="d4" style="width: 620px; height: 350px; object-fit: cover;" />

                            </div>
                            <div class="m-l-30 m-t-30">
                                <span class="font-12 font-bold text-uppercase">Ticket</span>
                                <h3>Organized Ticket Information</h3>
                            </div>
                        </div>
                        <div class="col-md-6 m-t-40">
                            <div class="live-box bg-light text-center p-t-30 p-b-0">
                                <img class="shadow img-fluid"
                                     src="~/landingpage/img/NewTicket.png"
                                     alt="d4" style="width: 620px; height: 350px; object-fit: cover;" />

                            </div>
                            <div class="m-l-30 m-t-30">
                                <span class="font-12 font-bold text-uppercase">Ticket</span>
                                <h3>Rich Text Editing</h3>
                            </div>
                        </div>
                        <div class="col-md-6 m-t-40">
                            <div class="live-box bg-light text-center p-t-30 p-b-0">
                                <img class="shadow img-fluid"
                                     src="~/landingpage/img/Notification.png"
                                     alt="d4" style="width: 620px; height: 350px; object-fit: cover;" />

                            </div>
                            <div class="m-l-30 m-t-30">
                                <span class="font-12 font-bold text-uppercase">Notification</span>
                                <h3>User Notifications</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ============================================================== -->
            <!-- Feature part -->
            <!-- ============================================================== -->
            <section id="feature1" class="feature1 spacer">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <h1 class="text-white">
                                Why choose Bug Tracking System over others?
                            </h1>
                            <p class="text-white op-5 m-t-40">
                                Provides complete solutions for effortless <b>project</b> and <b>ticket</b> management.

                            </p>
                            <a asp-area="Identity" asp-page="/Account/Login"
                               class="btn btn-custom-md btn-outline-light m-t-40 m-b-40">Try Out</a>
                        </div>
                        <div class="col-lg-6 offset-lg-1">
                            <img class="img-fluid"
                                 src="~/landingpage/img/DataTables.png"
                                 alt="cdb" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 m-t-20">
                            <img src="~/landingpage/dist/images/icon1.png" />
                            <h3 class="text-white m-t-30">Effortless Project Management</h3>
                            <p class="text-white op-5 m-t-20">
                                Our system offers seamless project and ticket management, ensuring efficiency and productivity.

                            </p>
                        </div>
                        <div class="col-md-4 m-t-20">
                            <img src="~/landingpage/dist/images/icon2.png" />
                            <h3 class="text-white m-t-30">Efficient Ticket Management</h3>
                            <p class="text-white op-5 m-t-20">
                                Our Bug Tracking System excels in streamlined ticket management,
                                providing an efficient workflow for handling issues and tasks.

                            </p>
                        </div>
                        <div class="col-md-4 m-t-20">
                            <img src="~/landingpage/dist/images/icon3.png" />
                            <h3 class="text-white m-t-30">Notifications</h3>
                            <p class="text-white op-5 m-t-20">
                                Stay informed with our real-time notification system,
                                ensuring you never miss important updates or changes in your projects.

                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ============================================================== -->
            <!-- Feature part 2 -->
            <!-- ============================================================== -->
            <section id="feature2" class="feature2 spacer">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-7 text-center">
                            <h1>Bug Tracker's Impressive Features</h1>
                            <p class="m-t-20">
                                Discover the remarkable features of our Bug Tracking System that streamline your project management.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 text-center m-t-40">
                            <span>
                                <i class="icon-pie-chart text-info display-6"></i>
                            </span>
                            <h4 class="m-t-30">Dashboard</h4>
                            <p class="m-t-20">
                                The Dashboard provides comprehensive insights into your projects, tickets, users, and notifications.
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center m-t-40">
                            <span>
                                <i class="icon-share display-6 text-info"></i>
                            </span>
                            <h4 class="m-t-30">Invites</h4>
                            <p class="m-t-20">
                                Extend invitations to other companies to utilize Bug Tracking System for their bug management needs.
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center m-t-40">
                            <span>
                                <i class="icon-briefcase text-info display-6"></i>
                            </span>
                            <h4 class="m-t-30">Project</h4>
                            <p class="m-t-20">
                                View a comprehensive table showcasing all projects for easy access and management.
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center m-t-40">
                            <span>
                                <i class="icon-folder text-info display-6"></i>
                            </span>
                            <h4 class="m-t-30">Archived Project</h4>
                            <p class="m-t-20">
                                Access archived projects to review past work and maintain organization.
                            </p>
                        </div>
                    </div>
                    <div class="row m-t-40">
                        <div class="col-lg-3 col-md-6 text-center m-t-40">
                            <span>
                                <i class="icon-flag text-info display-6"></i>
                            </span>
                            <h4 class="m-t-30">Ticket</h4>
                            <p class="m-t-20">
                                Utilize robust data table feature to efficiently manage and track tickets.
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center m-t-40">
                            <span>
                                <i class="icon-paper-clip text-info display-6"></i>
                            </span>
                            <h4 class="m-t-30">Ticket Attachment</h4>
                            <p class="m-t-20">
                                Seamlessly upload and download files associated with tickets.
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center m-t-40">
                            <span>
                                <i class="icon-speech text-info display-6"></i>
                            </span>
                            <h4 class="m-t-30">Ticket Comment</h4>
                            <p class="m-t-20">Effortlessly leave comments on tickets to facilitate collaboration and communication.</p>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center m-t-40">
                            <span>
                                <i class="icon-book-open text-info display-6"></i>
                            </span>
                            <h4 class="m-t-30">Ticket Histories</h4>
                            <p class="m-t-20">
                                Easily track the history of tickets to monitor progress and changes over time.
                            </p>
                        </div>
                    </div>
                    <div class="row m-t-40">
                        <div class="col-lg-3 col-md-6 text-center m-t-40">
                            <span>
                                <i class="icon-clock text-info display-6"></i>
                            </span>
                            <h4 class="m-t-30">Ticket Status</h4>
                            <p class="m-t-20">
                                View the status of tickets to stay informed about their progress and resolution.
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center m-t-40">
                            <span>
                                <i class="icon-lock display-6 text-info"></i>
                            </span>
                            <h4 class="m-t-30">Manage Roles</h4>
                            <p class="m-t-20">
                                Easily configure role settings to assign roles such as Admin, Project Manager, Developer, and Submitter.
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center m-t-40">
                            <span>
                                <i class="icon-bell text-info display-6"></i>
                            </span>
                            <h4 class="m-t-30">Notification</h4>
                            <p class="m-t-20">
                                Stay informed with notifications in Bug Tracking System, ensuring you're alerted to any changes or updates.
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center m-t-40">
                            <span>
                                <i class="icon-list text-info display-6"></i>
                            </span>
                            <h4 class="m-t-30">Notification Types</h4>
                            <p class="m-t-20">
                                Easily distinguish between different notification types in Bug Tracker,
                                whether it's a project or ticket update, or assignment notifications.
                            </p>
                        </div>
                    </div>

                </div>
            </section>
            <!-- ============================================================== -->
            <!-- Footer part -->
            <!-- ============================================================== -->
            <section id="footer" class="footer">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <img class="img-shadow img-fluid"
                                 src="~/landingpage/img/Dashboard.png"
                                 alt="db" />
                        </div>
                        <div class="col-lg-6 offset-lg-1">
                            <h1 class="m-t-40">
                                Handle Your Projects and Tickets Using the
                                <span class="text-info"> Bug Tracking System</span>!
                            </h1>
                            <a asp-area="Identity" asp-page="/Account/Login"
                               class="btn btn-custom btn-info btn-lg m-t-40">Try Out</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- ============================================================== -->
        <!-- End page wrapperHeader part -->
        <!-- ============================================================== -->
    </div>
</body>
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<!-- Fundamental Libraries -->
<script src="~/dist/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/dist/js/custom.min.js"></script>
</html>
