@{
    ViewData["Title"] = "Landig Page";
}
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, material pro admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, material design, material dashboard bootstrap 5 dashboard template" />
    <meta name="description"
          content="Admin Pro is powerful and clean admin dashboard template" />
    <meta name="robots" content="noindex,nofollow" />
    <title>Bug Tracking System</title>
    <link rel="canonical"
          href="https://www.wrappixel.com/templates/adminpro/" />
    <!-- Favicon icon -->
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="~/favicon/LogoFavicon.png" />
    <!-- Custom CSS -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/dist/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/dist/libs/prismjs/themes/prism-okaidia.min.css">


    <link href="~/dist/css/style.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!-- MAIN CSS -->
<!-- HERO -->
<body>
    <section class="hero hero-bg d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                    <div class="hero-text">
                        <h1 class="text-primary">WELCOME</h1>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="hero-image" data-aos="fade-up" data-aos-delay="300">
                                    <img src="~/images/BugTracker.png" class="img-fluid" alt="working girl">
                                </div>
                            </div>
                            <div class="col-lg-6 col-12 about-info">
                                <h2 class="mb-4" data-aos="fade-up"> <strong>Bug Tracking System</strong></h2>
                                <p class="mb-0" data-aos="fade-up">
                                    A bug tracker is an essential tool in software development. It includes 5 key components: bug logging, bug tracking, bug reporting, bug assignment, and bug closure.
                                </p>
                            </div>
                        </div>
                        <div class="mb-3 text-center">
                            <a class="sidebar-link waves-effect waves-dark btn btn-rounded btn-light-info text-info font-weight-medium" asp-area="Identity" asp-page="/Account/Login" aria-expanded="false">
                                <button type="submit">LOGIN</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>








    <script src="~/dist/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/extra-libs/taskboard/js/jquery-ui.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- apps -->
    <script src="~/dist/js/app.min.js"></script>
    <script src="~/dist/js/app.init.js"></script>
    <script src="~/dist/js/app-style-switcher.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/dist/libs/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.js"></script>
    <script src="~/dist/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!--Wave Effects -->
    <script src="~/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/dist/js/feather.min.js"></script>
    <script src="~/dist/js/custom.min.js"></script>
    <!-- Details Page JS -->
    <script src="~/dist/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/dist/js/pages/dashboards/dashboard1.js"></script>
    <script src="~/dist/libs/moment/min/moment.min.js"></script>
    <script src="~/dist/libs/fullcalendar/index.global.min.js"></script>
    <script src="~/dist/js/pages/calendar/cal-init.js"></script>
    <script src="~/dist/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/js/pages/datatable/datatable-basic.init.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/libs/tinymce/tinymce.min.js"></script>
    <!--c3 charts -->
    <script src="~/dist/libs/c3/htdocs/js/d3-3.5.6.js"></script>
    <script src="~/dist/libs/c3/htdocs/js/c3-0.4.9.min.js"></script>
    @*    Dropdown *@
    <script src="~/dist/libs/prismjs/prism.js"></script>
    <script src="../../dist/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="../../dist/js/pages/dashboards/dashboard1.js"></script>
    <script src="../../dist/libs/moment/min/moment.min.js"></script>
    <script src="../../dist/libs/fullcalendar/index.global.min.js"></script>
    <script src="../../dist/js/pages/calendar/cal-init.js"></script>
</body>
</html>