@model Project
@inject IBTProjectService _ProjectService

@using Microsoft.AspNetCore.Identity;
@using BugTrackingSystem.Models.Enums
@using BugTrackingSystem.Services.Interfaces;

@inject IBTFileService _FileService
@inject IBTProjectService _ProjectService
@inject UserManager<BTUser> _UserManager

@{
    ViewData["Title"] = "Details";
    BTUser? btUser = await _UserManager.GetUserAsync(User);
    BTUser? projectManager = await _ProjectService.GetProjectManagerAsync(Model.Id)!;
}

<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, ample admin admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, material design, material dashboard bootstrap 5 dashboard template" />
    <meta name="description"
          content="Admin Pro is powerful and clean admin dashboard template" />
    <meta name="robots" content="noindex,nofollow" />
    <title>Ample admin Template by WrapPixel</title>
    <link rel="canonical"
          href="https://www.wrappixel.com/templates/ampleadmin/" />
    <!-- Favicon icon -->
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="~/assets/images/favicon.png" />
    <!-- This page css -->
    <!-- This page plugin CSS -->
    <link rel="stylesheet" href="~/dist/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css">

    <!-- Custom CSS -->
    <link href="~/dist/css/style.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- -------------------------------------------------------------- -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- -------------------------------------------------------------- -->
    <div class="preloader">
        <svg class="tea lds-ripple"
             width="37"
             height="48"
             viewBox="0 0 37 48"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M27.0819 17H3.02508C1.91076 17 1.01376 17.9059 1.0485 19.0197C1.15761 22.5177 1.49703 29.7374 2.5 34C4.07125 40.6778 7.18553 44.8868 8.44856 46.3845C8.79051 46.79 9.29799 47 9.82843 47H20.0218C20.639 47 21.2193 46.7159 21.5659 46.2052C22.6765 44.5687 25.2312 40.4282 27.5 34C28.9757 29.8188 29.084 22.4043 29.0441 18.9156C29.0319 17.8436 28.1539 17 27.0819 17Z"
                  stroke="#20222a"
                  stroke-width="2"></path>
            <path d="M29 23.5C29 23.5 34.5 20.5 35.5 25.4999C36.0986 28.4926 34.2033 31.5383 32 32.8713C29.4555 34.4108 28 34 28 34"
                  stroke="#20222a"
                  stroke-width="2"></path>
            <path id="teabag"
                  fill="#20222a"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M16 25V17H14V25H12C10.3431 25 9 26.3431 9 28V34C9 35.6569 10.3431 37 12 37H18C19.6569 37 21 35.6569 21 34V28C21 26.3431 19.6569 25 18 25H16ZM11 28C11 27.4477 11.4477 27 12 27H18C18.5523 27 19 27.4477 19 28V34C19 34.5523 18.5523 35 18 35H12C11.4477 35 11 34.5523 11 34V28Z"></path>
            <path id="steamL"
                  d="M17 1C17 1 17 4.5 14 6.5C11 8.5 11 12 11 12"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke="#20222a"></path>
            <path id="steamR"
                  d="M21 6C21 6 21 8.22727 19 9.5C17 10.7727 17 13 17 13"
                  stroke="#20222a"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
        </svg>
    </div>
    <!-- -------------------------------------------------------------- -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- -------------------------------------------------------------- -->
    <div id="main-wrapper">


        <!-- -------------------------------------------------------------- -->
        <!-- Page wrapper  -->
        <!-- -------------------------------------------------------------- -->
        <div class="page-wrapper">

            <!-- -------------------------------------------------------------- -->
            <!-- Container fluid  -->
            <!-- -------------------------------------------------------------- -->
            <div class="container-fluid page-content">
                <!-- -------------------------------------------------------------- -->
                <!-- Start Page Content -->
                <!-- -------------------------------------------------------------- -->
                <!-- basic table -->
                <div class="row">
                    <div class="col-12">
                        <div class="card material-card">
                            <div class="card-body">
                                <h4 class="card-title">Tickets</h4>
                                <div class="row mt-4">
                                    <!-- Column -->
                                    <div class="col-md-6 col-lg-3 col-xlg-3">
                                        <div class="card material-card card-hover">
                                            <div class="p-2 rounded bg-light-primary text-center">
                                                <h1 class="fw-light text-primary">2,064</h1>
                                                <h6 class="text-primary">Total Tickets</h6>
                                            </div>
                                        </div>
                                    </div>
                                    @* STATUS *@
                                    <!-- Column -->
                                    <div class="col-md-6 col-lg-3 col-xlg-3">
                                        <div class="card material-card card-hover">
                                            <div class="p-2 rounded bg-light-warning text-center">
                                                <h1 class="fw-light text-warning">1,738</h1>
                                                <h6 class="text-warning">In Progress</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Column -->
                                    <div class="col-md-6 col-lg-3 col-xlg-3">
                                        <div class="card material-card card-hover">
                                            <div class="p-2 rounded bg-light-success text-center">
                                                <h1 class="fw-light text-success">1100</h1>
                                                <h6 class="text-success">Opened</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Column -->
                                    <div class="col-md-6 col-lg-3 col-xlg-3">
                                        <div class="card material-card card-hover">
                                            <div class="p-2 rounded bg-light-danger text-center">
                                                <h1 class="fw-light text-danger">964</h1>
                                                <h6 class="text-danger">Archive</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Column -->
                                </div>
                                <div class="table-responsive mt-4">
                                    <table id="zero_config"
                                           class="table table-bordered no-wrap fs-3">
                                        <thead>
                                            <tr>
                                                <th>Status</th>
                                                <th>Title</th>
                                                <th>ID</th>
                                                <th>Submitter</th>
                                                <th>Developer</th>
                                             
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span class="
                                badge
                                bg-light-warning
                                text-warning
                                font-weight-medium
                              ">In Progress</span>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html"
                                                       class="font-weight-medium link">Elegant Theme Side Menu Open OnClick</a>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html" class="fw-bold link">276377</a>
                                                </td>
                                                <td>Elegant Admin</td>
                                                <td>Eric Pratt</td>
                                                <td>2021/05/01</td>
                                                <td>Fazz</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="
                                badge
                                bg-light-danger
                                text-danger
                                font-weight-medium
                              ">Closed</span>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html"
                                                       class="font-weight-medium link">AdminX Theme Side Menu Open OnClick</a>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html" class="fw-bold link">1234251</a>
                                                </td>
                                                <td>AdminX Admin</td>
                                                <td>Nirav Joshi</td>
                                                <td>2021/05/11</td>
                                                <td>Steve</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="
                                badge
                                bg-light-success
                                text-success
                                font-weight-medium
                              ">Opened</span>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html"
                                                       class="font-weight-medium link">Admin-Pro Theme Side Menu Open OnClick</a>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html" class="fw-bold link">1020345</a>
                                                </td>
                                                <td>Admin-Pro</td>
                                                <td>Vishal Bhatt</td>
                                                <td>2021/04/01</td>
                                                <td>John</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="
                                badge
                                bg-light-warning
                                text-warning
                                font-weight-medium
                              ">In Progress</span>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html"
                                                       class="font-weight-medium link">Elegant Theme Side Menu Open OnClick</a>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html" class="fw-bold link">7810203</a>
                                                </td>
                                                <td>Elegant Admin</td>
                                                <td>Eric Pratt</td>
                                                <td>2021/01/01</td>
                                                <td>Fazz</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="
                                badge
                                bg-light-warning
                                text-warning
                                font-weight-medium
                              ">In Progress</span>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html"
                                                       class="font-weight-medium link">AdminX Theme Side Menu Open OnClick</a>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html" class="fw-bold link">2103450</a>
                                                </td>
                                                <td>AdminX Admin</td>
                                                <td>Nirav Joshi</td>
                                                <td>2021/05/01</td>
                                                <td>John</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="
                                badge
                                bg-light-warning
                                text-warning
                                font-weight-medium
                              ">In Progress</span>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html"
                                                       class="font-weight-medium link">Admin-Pro Theme Side Menu Open OnClick</a>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html" class="fw-bold link">2140530</a>
                                                </td>
                                                <td>Admin-Pro</td>
                                                <td>Vishal Bhatt</td>
                                                <td>2021/07/01</td>
                                                <td>Steve</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="
                                badge
                                bg-light-success
                                text-success
                                font-weight-medium
                              ">Opened</span>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html"
                                                       class="font-weight-medium link">Elegant Theme Side Menu Open OnClick</a>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html" class="fw-bold link">4500123</a>
                                                </td>
                                                <td>Elegant Admin</td>
                                                <td>Eric Pratt</td>
                                                <td>2021/05/10</td>
                                                <td>Fazz</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="
                                badge
                                bg-light-danger
                                text-danger
                                font-weight-medium
                              ">Closed</span>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html"
                                                       class="font-weight-medium link">Elegant Theme Side Menu Open OnClick</a>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html" class="fw-bold link">1230450</a>
                                                </td>
                                                <td>Elegant Admin</td>
                                                <td>Eric Pratt</td>
                                                <td>2021/05/14</td>
                                                <td>John</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="
                                badge
                                bg-light-danger
                                text-danger
                                font-weight-medium
                              ">Closed</span>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html"
                                                       class="font-weight-medium link">AdminX Theme Side Menu Open OnClick</a>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html" class="fw-bold link">1240503</a>
                                                </td>
                                                <td>AdminX Admin</td>
                                                <td>Nirav Joshi</td>
                                                <td>2021/02/01</td>
                                                <td>Steve</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="
                                badge
                                bg-light-success
                                text-success
                                font-weight-medium
                              ">Opened</span>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html"
                                                       class="font-weight-medium link">Admin-Pro Theme Side Menu Open OnClick</a>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html" class="fw-bold link">1250304</a>
                                                </td>
                                                <td>Admin-Pro</td>
                                                <td>Vishal Bhatt</td>
                                                <td>2021/05/21</td>
                                                <td>Fazz</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="
                                badge
                                bg-light-success
                                text-success
                                font-weight-medium
                              ">Opened</span>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html"
                                                       class="font-weight-medium link">Elegant Theme Side Menu Open OnClick</a>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html" class="fw-bold link">1470250</a>
                                                </td>
                                                <td>Elegant Admin</td>
                                                <td>Eric Pratt</td>
                                                <td>2021/05/11</td>
                                                <td>John</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="
                                badge
                                bg-light-danger
                                text-danger
                                font-weight-medium
                              ">Closed</span>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html"
                                                       class="font-weight-medium link">Admin-Pro Theme Side Menu Open OnClick</a>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html" class="fw-bold link">1450023</a>
                                                </td>
                                                <td>Admin-Pro</td>
                                                <td>Vishal Bhatt</td>
                                                <td>2021/05/13</td>
                                                <td>Steve</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="
                                badge
                                bg-light-warning
                                text-warning
                                font-weight-medium
                              ">In Progress</span>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html"
                                                       class="font-weight-medium link">AdminX Theme Side Menu Open OnClick</a>
                                                </td>
                                                <td>
                                                    <a href="ticket-detail.html" class="fw-bold link">1420530</a>
                                                </td>
                                                <td>AdminX Admin</td>
                                                <td>Nirav Joshi</td>
                                                <td>2021/10/01</td>
                                                <td>Fazz</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Status</th>
                                                <th>Title</th>
                                                <th>ID</th>
                                                <th>Product</th>
                                                <th>Created by</th>
                                                <th>Date</th>
                                                <th>Agent</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- -------------------------------------------------------------- -->
            <!-- End Container fluid  -->
            <!-- -------------------------------------------------------------- -->

        </div>
        <!-- -------------------------------------------------------------- -->
        <!-- End Page wrapper  -->
        <!-- -------------------------------------------------------------- -->
    </div>
    <!-- -------------------------------------------------------------- -->
    <!-- End Wrapper -->
    <!-- -------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------- -->
    <!-- All Jquery -->
    <!-- -------------------------------------------------------------- -->
    <script src="~/dist/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/extra-libs/taskboard/js/jquery.ui.touch-punch-improved.js"></script>
    <script src="~/assets/extra-libs/taskboard/js/jquery-ui.min.js"></script>

    <!-- Bootstrap tether Core JavaScript -->

    <script src="~/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- apps -->
    <script src="~/dist/js/app.min.js"></script>
    <script src="~/dist/js/app.init.material.js"></script>

    <script src="~/dist/js/app-style-switcher.js"></script>

    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/dist/libs/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.js"></script>

    <script src="~/dist/libs/jquery-sparkline/jquery.sparkline.min.js"></script>

    <!--Wave Effects -->
    <script src="~/dist/js/waves.js"></script>

    <!--Menu sidebar -->
    <script src="~/dist/js/sidebarmenu.js"></script>

    <!--Custom JavaScript -->
    <script src="~/dist/js/feather.min.js"></script>

    <script src="~/dist/js/custom.min.js"></script>

    <!--This page plugins -->
    <script src="~/dist/libs/datatables.net/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#zero_config").DataTable();
        });</script>
   

</body>
</html>
