@model BugTrackingSystem.Models.Project
@* @inject IBTFileService _BTFileService *@
@{
    ViewData["Title"] = "New Project";
}


<div>
    <a asp-action="Index">Back to List</a>
</div>


<div class="col-12">
    <div class="card">
        <div class="border-bottom title-part-padding">
            <h4 class="card-title mb-0">New Project</h4>
        </div>
        <div class="card-body wizard-content">
            @*  <h6 class="card-subtitle mb-3">
            You can us the validation like what we did
            </h6> *@
            <form asp-action="Create" class="validation-wizard wizard-circle mt-5">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- Step 1 -->
                <h6>Project Details</h6>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="Name" class="control-label">Name :</label>
                            <input asp-for="Name" class="form-control" placeholder="New Project" autocomplete="on" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="ProjectPriorityId" class="control-label">Project Priority : </label>
                            <select asp-for="ProjectPriorityId" class="form-control" asp-items="ViewBag.ProjectPriorityId"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <label asp-for="Description" class="control-label">Description :</label>
                        <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="StartDate">Start Date :</label>
                            <input type="date" asp-for="StartDate" class="form-control required" id="StartDate" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="EndDate">End Date :</label>
                            <input type="date" asp-for="EndDate" class="form-control required" id="EndDate" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label asp-for="ImageFormFile" class="control-label">Project Image :</label>
                            <input asp-for="ImageFormFile" type="file" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                 
                    <div class="form-group" style="text-align: right;">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>


            </form>
        </div>
    </div>

</div>

